/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .offcanvas {
        background: none !important;
    }
}

/** Geral *********/
html,
body {
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

.img-branca {
    filter: brightness(0) invert(1);
}

h1 {
    color: #263238 !important;
}
input[type=number]::-webkit-inner-spin-button { 
    appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

/** Header ******/
header {
    height: 64px;
}

#menu {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#menu a {
    font-size: 20px;
}

#logo img {
    margin-top: -15px;
}

#logo-txt {
    color: white;
    font-size: 1.2em;
    font-weight: bolder;
}

.offcanvas {
    width: 100% !important;
    background: linear-gradient(to right, #2F80ED, #56CCF2);
}

/** Main ******/
main {
    min-height: 100%;
    background-color: #FAFAFA;
}

main h1 {
    margin-top: 10px;
}

select,
input,
button {
    border-radius: 0 !important;
    margin: 10px;
}
.area-btn{
    margin: -5px ;
}
.area-btn{
    border: solid rgba(0, 0, 0, 0);
}
main button {
    background-color: #2F80ED !important;
    border: #2F80ED !important;
    border-radius: 30px !important;
    font-size: 25px !important;
    padding: 2px 9px !important;
    
}

main button:hover {
    background-color: #56CCF2 !important;
}



/** Footer ******/
footer {
    background: #56CCF2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F80ED, #56CCF2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#rodape {
    min-height: 80px;
    display: flex;
    align-items: center;
}

#logo-footer img {
    margin-top: -15px;
}
#logo-footer-txt {
    color: white;
    font-weight: 600;
    font-size: 17px;
}


#menu-footer {
    display: flex;
    justify-content: end;
    list-style-type: none;
}

#menu-footer a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

#menu-footer a:hover {
    color: rgba(255, 255, 255, 0.623);
}
/** MODAL ******/
#erroGravacao .modal-header{
    background: linear-gradient(to right, #f00000, #dc281e);
}
#erroGravacao .modal-body {
    flex-direction: column;
    align-items: center;
}
#erroGravacao .modal-body h2{
    font-size: 50px;
    color: #f00000;
    flex-grow: 100000;
}

#okGravacao .modal-header{
    background: linear-gradient(to left, #56ab2f, #0f9b0f);
}
#okGravacao .modal-body {
    flex-direction: column;
    align-items: center;
}
#okGravacao .modal-body h2{
    font-size: 50px;
    color: #0f9b0f;
    flex-grow: 100000;
}